.card {
  border-bottom: 1px solid black;
  padding: 16px 8px;
  margin-bottom: 24px;

  .featured-image {
    border-radius: 4px;
    background: black;
    min-width: 100%;
    min-height: 100px;
  }

  .title {
    font-size: 18pt;
  }

  .address {
    margin-top: 0px;
    color: gray;
    font-size: 11pt;
  }

  .pricing {
    letter-spacing: 0.8px;
    font-weight: bold;
  }

}
