:host {
  width: 100%;
}

.card {
  border-radius: var(--default-border-radius);
  overflow: hidden;
  border: 1px solid #E1E1E1;
  overflow: hidden;

  .featured-image {
    background-position: center;
    min-width: 100%;
    width: 100%;
    min-height: 220px;
    background-size: cover;
    background-repeat: no-repeat;

  }

  .fade-overlay {
    background: url('../../../assets/img/overlay.png');
    margin-top: -240px;
    position: relative;
    width: 100%;
    height: 250px;
  }

  .card-content {
    padding: 16px 16px 8px 16px;
    margin-top: -38px;

    .title {
      font-size: 18pt;
      font-weight: bold;
      margin-bottom: 6px;
    }

    .address {
      margin-top: 0px;
      color: #464646;
      font-size: 12pt;
    }

    .divider {
      border-bottom: 1px solid #e1e1e1;
      margin-bottom: 16px;
    }

    .pricing {
      letter-spacing: 0.8px;
      font-weight: bold;
      padding: 8px 24px;
      width: auto;
      border: 1px solid #d33939;
      color: #d33939;
      border-radius: 16px;
      margin: 0;
      text-align: center;
    }

    .capacity-icon {
      display: inline-block;
      font-size: 18pt;
      color: gray;
    }

    .capacity-text {
      display: inline-block;
      color: gray;
      margin-left: 8px;
      font-weight: bold;
    }

  }

}
