<div class="card" (click)="openMeetingRoom(room)">

    <div class="featured-image" [style.backgroundImage]="'url('+ room.imageUrl +')'"></div>

    <div class="fade-overlay"></div>
    <div class="card-content">
        <h1 class="title">{{room.name}}</h1>
        <p class="address">{{room.address}}</p>
        <div class="divider"></div>

        <ion-row class="ion-align-items-center">
            <ion-col size="6">
                <ion-item lines="none" class="ion-no-padding">
                    <ion-icon class="capacity-icon" name="people"></ion-icon>
                    <span class="capacity-text">{{room.maxNumberOfPeople}}</span>
                </ion-item>
            </ion-col>

            <ion-col size="6" class="ion-align-self-end">
                <p class="pricing">{{room.priceInNok}}{{currencySuffix}}</p>
            </ion-col>
        </ion-row>

    </div>
</div>
