<ion-header>
  <ion-toolbar>
    <ion-title>New Review</ion-title>
    <ion-buttons slot="end">
    <ion-button (click)="close()">
      Cancel
    </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ionic4-star-rating #rating
                      activeIcon = "ios-star"
                      defaultIcon = "ios-star"
                      activeColor = "#eea769"
                      defaultColor = "#d4d4d4"
                      readonly="false"
                      rating="0"
                      fontSize = "44px"
                      (ratingChanged)="onRateChange($event)">
  </ionic4-star-rating>

  <ion-item class="ion-no-padding" lines="none">
    <ion-textarea class="review-text" placeholder="Review" [(ngModel)]="review.comment" autocapitalize="on"></ion-textarea>
  </ion-item>

  <ion-button (click)="publish()" [disabled]="review.stars == 0" expand="block">Publish</ion-button>

</ion-content>
