ionic4-star-rating {
  text-align: center;
}

.review-text {
  margin-top: 16px;
  margin-bottom: 16px;
  padding: 16px;
  border-radius: var(--default-border-radius);
  height: 120px;
  background: var(--light-background-color);


}

