.cordova-camera-capture {
  margin-top: 44px;
  video {
    height: 100% !important;
    width: 100% !important;
  }
  button {
    padding: 16px;
  }
}
.capture-view {
  background: #282828;
  // background: #{view-gray-background};
  height: 100%;

}
