<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="directions()">
        <ion-icon slot="icon-only" name="navigate"></ion-icon>
        Directions
      </ion-button>
    </ion-buttons>
    <ion-title>Map</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">
        Done
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div id="map-container">
    <div id="map-view">
    </div>
  </div>

  <ion-button>Navigation</ion-button>

</ion-content>
