<ion-header>
  <ion-toolbar>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div *ngIf="authService.isLoggedIn()">
    <h1>Welcome Back!</h1>
    <p>Email {{authService.user.email}}</p>
    <ion-button (click)="signOut()" expand="block">Sign out</ion-button>
  </div>

  <div *ngIf="!authService.isLoggedIn()">
    <h2>Welcome to Appointment</h2>
    <ion-button (click)="login()" expand="block">Sign in to get started</ion-button>
  </div>




</ion-content>
