<ion-header>
    <ion-toolbar>
        <ion-title></ion-title>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <img [src]="room.imageUrl"/>
    <h1 class="room-title ion-text-center">{{room.name}}</h1>
    <p class="room-pricing ion-text-center">{{room.priceInNOK}}{{currencySuffix}}</p>

    <div class="ion-padding">

        <div class="room-detail-container">
            <p>{{room.address}}</p>
            <p>{{room.size}}</p>
            <p>[map_view_here]</p>
            <ion-button (click)="openMap()">Map</ion-button>
        </div>
        <p>{{room.availability}}</p>
        <ion-button (click)="bookNow()">Book Now</ion-button>
        <h2>Description</h2>
        <p>{{room.description}}</p>
        <h2>Facilities</h2>
        <div class="room-detail-container">

            <ion-list>
                <ion-item *ngFor="let facility of room.facilities" class="ion-no-padding">
                    <p>{{facility}}</p>
                </ion-item>
            </ion-list>

            <ion-grid>
                <ion-row>
                    <ion-col>
                        ion-col
                    </ion-col>
                    <ion-col>
                        ion-col
                    </ion-col>
                    <ion-col>
                        ion-col
                    </ion-col>
                    <ion-col>
                        ion-col
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>

        <h2>Reviews</h2>
        <app-review></app-review>
        <app-review></app-review>

    </div>

</ion-content>

<ion-footer>
    <ion-toolbar>
        <ion-button expand="block" (click)="bookNow()">Book Now!</ion-button>
    </ion-toolbar>
</ion-footer>
