<ion-header>
    <ion-toolbar>
        <ion-title></ion-title>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-buttons *ngIf="isMyRoom" slot="end">
            <ion-button (click)="viewAdminOptions()">
                <ion-icon slot="icon-only" name="more"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <img [src]="room.imageUrl"/>
    <h1 class="room-title ion-text-center">{{room.name}}</h1>

    <div class="ion-padding">

        <img [src]="mapPreviewImageUrl" (click)="openMap()" class="map-preview">
        <p class="address">{{room.address}}</p>

        <div class="room-detail-container">
            <p>Capacity: {{room.maxNumberOfPeople}} persons</p>

        </div>

        <h2>Facilities</h2>
        <div class="room-detail-container">
            <ion-list>
                <ion-item *ngFor="let facility of room.facilities" class="ion-no-padding">
                    <p>{{facility}}</p>
                </ion-item>
            </ion-list>

        </div>

        <h2>Description</h2>

        <p>{{room.description}}</p>

        <h2>Reviews</h2>
        <p *ngIf="room.reviews.length > 0">{{roomService.averageRating(room).toFixed(1)}}</p>
        <p *ngIf="room.reviews.length == 0">No reviews yet.</p>
        <ion-button (click)="writeReview()">Write Review</ion-button>

        <div *ngIf="room.reviews.length > 0" class="reviews">
            <app-review *ngFor="let review of room.reviews" [review]="review"></app-review>
        </div>

    </div>

</ion-content>

<ion-footer *ngIf="!bookingService.isRoomBooked(room)">
    <ion-toolbar>
        <ion-grid>
            <ion-row class="ion-align-items-center">
                <ion-col>
                    <p class="booking-info-text">Available now</p>
                    <p class="room-pricing">{{room.priceInNok}}{{currencySuffix}}</p>
                </ion-col>
                <ion-col class="ion-align-self-end">
                    <ion-button expand="block" (click)="bookNow()" color="tertiary">Book Now</ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>

    </ion-toolbar>
</ion-footer>
