.room-detail-container {
  background: white;
  border: 1px solid #e4e4e4;
  border-radius: 4px;
  padding: 8px 16px 24px 16px;
  margin-bottom: 16px;
}

.room-pricing {
  font-size: 16pt;
  letter-spacing: 0.4px;
  font-weight: bold;
}

ion-content {
  max-width: 1000px;
}

.map-preview {
  border-radius: 4px;
}
