.room-detail-container {
  background: white;
  border: 1px solid #e4e4e4;
  border-radius: var(--default-border-radius);
  padding: 8px 16px 24px 16px;
  margin-bottom: 16px;
}

.address {
  text-align: center;
  margin-left: 32px;
  margin-right: 32px;
}

.room-pricing {
  font-size: 14pt;
  letter-spacing: 0.4px;
  font-weight: bold;
  margin: 0;

}

.booking-info-text {
  margin: 0;
  letter-spacing: 0.8px;
  font-size: 10pt;
  color: #2b2b2b;
}

ion-content {
  max-width: 1000px;
}

ion-rating {
  text-align: center;
  display: block;
}

.list-ios, .list-md {
  margin-bottom: 0;
}

.map-preview {
  border-radius: var(--default-border-radius);
}
