<ion-header>
    <ion-toolbar>
        <ion-title>New Room</ion-title>
        <ion-buttons slot="end">
            <ion-button>
                Cancel
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

    <h1 class="title-label">Let's create a room</h1>
    <img src="../../../assets/img/background-new-room.png" class="layout-image"/>

    <div class="main-form">

        <div class="room-creator-section">
            <h2>Address</h2>
            <p class="subtitle">Where is your room located?</p>
            <ion-item class="ion-no-padding">
                <ion-label position="stacked">Address</ion-label>
                <ion-input placeholder="Example Street 2" [(ngModel)]="room.address" autocapitalize="words"></ion-input>
            </ion-item>

            <ion-chip outline="true" class="address-viewer">
                <ion-label color="primary">TEST.location, Oslo</ion-label>
            </ion-chip>
        </div>

        <div class="room-creator-section">
            <h2>Name</h2>
            <p class="subtitle">Give your room a memorable title</p>
            <ion-item class="ion-no-padding">
                <ion-input placeholder="The Great Hall" [(ngModel)]="room.name" autocapitalize="on"></ion-input>
            </ion-item>
        </div>

        <div class="room-creator-section">
            <h2>Capacity</h2>
            <p class="subtitle">How many guests can you accept?</p>

            <ion-item class="ion-no-padding" lines="none">
                <ion-range [(ngModel)]="room.maxNumberOfPeople" min="1" max="40" color="primary">
                    <ion-label slot="start">1</ion-label>
                    <ion-label slot="end">40+</ion-label>
                </ion-range>
            </ion-item>

            <p>Estimated capacity will be {{room.maxNumberOfPeople}} guests</p>

        </div>

        <div class="room-creator-section">
            <h2>Pricing</h2>
            <p class="subtitle">How much will you charge pr. day?</p>
            <ion-item class="ion-no-padding">
                <ion-label position="stacked">Price in kr</ion-label>
                <ion-input placeholder="0" type="number" [(ngModel)]="room.priceInNok"></ion-input>
            </ion-item>
            <p *ngIf="room.priceInNok > 0">Estimated income for renting out this room for 15
                days/month: {{estimatedIncome}} {{room.priceInNok * 15}},-</p>
        </div>

        <div class="room-creator-section">
            <h2>Facilities</h2>
            <ion-list>
                <ion-item *ngFor="let entry of facilitiesForm" class="ion-no-padding">
                    <ion-label>{{entry.val}}</ion-label>
                    <ion-checkbox slot="end" [(ngModel)]="entry.isChecked"></ion-checkbox>
                </ion-item>
            </ion-list>
        </div>

        <div class="room-creator-section">
            <h2>Description</h2>
            <ion-item class="ion-no-padding">
                <ion-textarea placeholder="Tell us more about the room." [(ngModel)]="room.description" autocapitalize="on"></ion-textarea>
            </ion-item>

        </div>


        <div class="room-creator-section">
            <h2>Media</h2>

            <img [src]="room.imageUrl" class="room-image-thumbnail"/>

            <ion-button (click)="openCamera()" color="dark">Take Picture</ion-button>
            <ion-button (click)="openPhotoPicker()" color="dark">Select Pictures...</ion-button>

        </div>
        <div class="room-creator-section publish-section">
            <h2>Publish</h2>
            <p class="subtitle">This meeting room will immediately be available on the Appointment platform</p>

            <ion-button (click)="create()" expand="block">Create Room</ion-button>

        </div>

    </div>


</ion-content>

<ion-footer>
    <!--<ion-toolbar>
        <ion-button color="dark">Back</ion-button>
        <ion-button>Next</ion-button>
    </ion-toolbar>-->
</ion-footer>
