.pricing-total {
  background: #eeeeee;
  padding: 16px;
  border-radius: var(--default-border-radius);
}

.payment-methods {
  .payment-method {
    padding: 32px;
    border: 1px solid gray;
    border-radius: var(--default-border-radius);
  }
}
