<ion-header>
  <ion-toolbar>
    <ion-title>Find Room</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment (ionChange)="segmentChanged($event)" value="available">
      <ion-segment-button value="available">
        <ion-label>Available Now</ion-label>
      </ion-segment-button>
      <ion-segment-button value="reserved">
        <ion-label>Popular</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div *ngIf="(rooms$| async)?.length == 0;" class="empty-state">
    <img src="../../../assets/img/background-new-room.png" class="layout-image"/>
    <p class="text">We found no rooms matching your criteria</p>
  </div>

  <ion-list>
    <ion-item *ngFor="let room of rooms$ | async; trackBy: trackFunc" lines="none" class="ion-no-padding">
      <app-meeting-room [room]="room"></app-meeting-room>
    </ion-item>
  </ion-list>

</ion-content>
