<ion-header>
  <ion-toolbar>
    <ion-title>My Rooms</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="addRoom()">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-list>
    <ion-item *ngFor="let room of rooms" class="ion-no-padding" lines="none">
      <app-meeting-room [room]="room" class="ion-no-padding"></app-meeting-room>
    </ion-item>
  </ion-list>

</ion-content>
