.capture-view {
  background: #282828;
  height: 280px;
}

.title-label {
  text-align: center;
  margin-bottom: 32px;

}

.room-creator-section {
  border: 1px solid black;
  padding: 16px;
  margin-bottom: 16px;
}
