<ion-header>
    <ion-toolbar>
        <ion-title>New Room</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <div class="capture-view"></div>
    <h1>Let's create a room</h1>
    <ion-button (click)="openCamera()">Take Picture</ion-button>
    <ion-button (click)="openPhotoPicker()">Select Pictures...</ion-button>
    <p>ION TEXT.test</p>

    <ion-chip outline="true">
        <ion-label color="primary">Testing, Oslo</ion-label>
    </ion-chip>

    <ion-button>Next Step</ion-button>

</ion-content>
