<div class="input-container">
  <ion-item class="ion-no-padding">
    <ion-label position="floating">Email</ion-label>
    <ion-input placeholder="Email" type="email" [(ngModel)]="user.username" (keyup.enter)="focusOn(passwordField)"></ion-input>
  </ion-item>
  <ion-item class="ion-no-padding">
    <ion-label position="floating">Password</ion-label>
    <ion-input placeholder="Password" type="password" [(ngModel)]="user.password" (keyup.enter)="register()" #passwordField></ion-input>
  </ion-item>
  <ion-button expand="block" (click)="register()" class="login-action-button">Register</ion-button>
</div>
