<ion-content>

    <div class="close-button" (click)="cancel()">X</div>

    <div class="login-container">

        <h1 class="title">Appointment</h1>
        <p class="subtitle-pitch">Make money on unused space. Rent meeting rooms from and to people you can trust.</p>

        <div [ngSwitch]="formType">

            <!-- Welcome -->
            <div *ngSwitchCase="FormType.Welcome">
                <ion-button expand="block" class="login-buttons" (click)="switchFormToType(FormType.Register)">I'm new. Register</ion-button>
                <ion-button expand="block" fill="outline" class="login-buttons" (click)="switchFormToType(FormType.Login)">Sign in</ion-button>

            </div>

            <!-- Register -->
            <div *ngSwitchCase="FormType.Register">

                <app-register-form></app-register-form>
                <p class="form-switcher-button" (click)="switchFormToType(FormType.Login)">Already registered? Sign in.</p>
            </div>

            <!-- Login -->
            <div *ngSwitchCase="FormType.Login">
                <app-login-form></app-login-form>
                <p class="form-switcher-button" (click)="switchFormToType(FormType.Register)">Not registered? Sign up</p>

            </div>


        </div>


    </div>

</ion-content>
